In [3]:
import pandas as pd
import glob
data_path = 'data'

from azureml.core import Workspace
ws = Workspace.from_config()
ws.get_details()

{'id': '/subscriptions/15ae9cb6-95c1-483d-a0e3-b1a1a3b06324/resourceGroups/issues/providers/Microsoft.MachineLearningServices/workspaces/issues',
 'name': 'issues',
 'location': 'northcentralus',
 'type': 'Microsoft.MachineLearningServices/workspaces',
 'tags': {},
 'sku': 'Basic',
 'workspaceid': '617d4e28-19eb-47e6-9710-14e2cfc8f1e4',
 'description': '',
 'friendlyName': '',
 'creationTime': '2020-01-10T13:33:11.1916827+00:00',
 'containerRegistry': '/subscriptions/15ae9cb6-95c1-483d-a0e3-b1a1a3b06324/resourceGroups/issues/providers/Microsoft.ContainerRegistry/registries/issuesa24d4dd6',
 'keyVault': '/subscriptions/15ae9cb6-95c1-483d-a0e3-b1a1a3b06324/resourcegroups/issues/providers/microsoft.keyvault/vaults/issues3539678377',
 'applicationInsights': '/subscriptions/15ae9cb6-95c1-483d-a0e3-b1a1a3b06324/resourcegroups/issues/providers/microsoft.insights/components/issues5093552984',
 'identityPrincipalId': '75c4c007-89ad-4262-8739-998c0656c95b',
 'identityTenantId': '72f988bf-86f1-41af-91ab-2d7cd011db47',
 'identityType': 'SystemAssigned',
 'storageAccount': '/subscriptions/15ae9cb6-95c1-483d-a0e3-b1a1a3b06324/resourcegroups/issues/providers/microsoft.storage/storageaccounts/issues9435799769'}

In [57]:
allFiles = glob.glob(data_path + "/issues-[0-9][0-9][0-9][0-9]-[0-9][0-9]-[0-9][0-9].csv")

list_ = []

for file_ in allFiles:
    df = pd.read_csv(file_,index_col=None, header=0)
    list_.append(df)

df = pd.concat(list_, axis = 0, ignore_index = True, sort=False)

In [58]:
#df = pd.read_csv(data_path + "/issues-latest.csv",index_col=None, header=0)

df['CreatedDate'] = pd.to_datetime(df['CreatedDate']) 
if df['CreatedDate'].dt.tz is None:
    df['CreatedDate'] = df['CreatedDate'].dt.tz_localize('UTC')

df['import_date'] = pd.to_datetime(df['import_date']).dt.tz_localize('UTC')
df['Age'] = (df['import_date'] - df['CreatedDate']).dt.days
df.loc[df['Age'] > 30, 'over30days'] = 1 
df.loc[df['Age'] <= 30, 'over30days'] = 0
df.loc[df['Age'] > 60, 'over60days'] = 1 
df.loc[df['Age'] <= 60, 'over60days'] = 0
df['over30days'] = df['over30days'].astype(int)
df['over60days'] = df['over60days'].astype(int)

df['TagsArray'] = df.Tags.str.split(';')
df['TagsArray'] = df.TagsArray.apply(lambda x: [y.strip().lower() for y in x])
df['papercut'] = df.TagsArray.apply(lambda x: 1 if 'papercut' in x or 'papercuts' in x else 0)
df['ws20ga'] = df.TagsArray.apply(lambda x: 1 if 'ws20ga' in x else 0)
df['customer'] = df.TagsArray.apply(lambda x: 1 if 'customer' in x else 0)

#test = df.query("target_month != target_month")[['target_month','triaged']]
prepped = df.fillna('nan')[['import_date', 'target_month', 'main_area', 'sub_area', 'triaged', 'State', 'Priority', 'over30days', 'over60days', 'papercut', 'ws20ga', 'customer', 'Age']]

grouped = prepped.groupby(['import_date', 'target_month', 'main_area', 'sub_area', 'triaged', 'State', 'Priority', 'over30days', 'over60days', 'papercut', 'ws20ga', 'customer'])
aggregated = grouped.size().reset_index(name='counts') 

age = grouped.sum().reset_index()['Age']
aggregated['SumAge'] = age

aggregated['hasMaxImportDate'] = (aggregated['import_date'] == max(aggregated['import_date']))


aggregated
#.target_month.unique()

,import_date,target_month,main_area,sub_area,triaged,State,Priority,over30days,over60days,papercut,ws20ga,customer,counts,SumAge,hasMaxImportDate
0,2020-01-11 00:00:00+00:00,nan,Assets,Environments,nan,New,2,0,0,1,0,0,1,2,False
1,2020-01-11 00:00:00+00:00,nan,Assets,Metastore,nan,New,2,1,0,1,0,0,1,45,False
2,2020-01-11 00:00:00+00:00,nan,Assets,Metastore,nan,New,4,0,0,1,0,0,1,29,False
3,2020-01-11 00:00:00+00:00,nan,Assets,Run History,nan,Done,2,0,0,1,0,0,1,22,False
4,2020-01-11 00:00:00+00:00,nan,Assets,Run History,nan,To Do,2,0,0,1,0,0,1,22,False
5,2020-01-11 00:00:00+00:00,nan,AutoML,AutoML,nan,Approved,2,0,0,1,0,0,1,17,False
6,2020-01-11 00:00:00+00:00,nan,AutoML,AutoML,nan,Approved,2,1,0,1,0,0,1,50,False
7,2020-01-11 00:00:00+00:00,nan,AutoML,AutoML,nan,Approved,2,1,1,1,0,0,1,98,False
8,2020-01-11 00:00:00+00:00,nan,AutoML,AutoML,nan,Approved,2,1,1,1,0,1,1,88,False
9,2020-01-11 00:00:00+00:00,nan,AutoML,AutoML,nan,Done,1,1,1,0,1,0,1,88,False
10,2020-01-11 00:00:00+00:00,nan,AutoML,AutoML,nan,Done,2,1,1,1,0,1,1,121,False
11,2020-01-11 00:00:00+00:00,nan,AutoML,AutoML,nan,In Progress,2,1,1,1,0,1,1,171,False
12,2020-01-11 00:00:00+00:00,nan,AutoML,AutoML,nan,New,2,0,0,1,0,0,14,8,False
13,2020-01-11 00:00:00+00:00,nan,AutoML,AutoML,nan,New,2,0,0,1,1,0,4,0,False
14,2020-01-11 00:00:00+00:00,nan,AutoML,AutoML,nan,New,2,1,0,0,1,0,1,35,False
15,2020-01-11 00:00:00+00:00,nan,AutoML,AutoML,nan,New,2,1,0,1,0,0,3,104,False
16,2020-01-11 00:00:00+00:00,nan,AutoML,AutoML,nan,Removed,2,0,0,1,0,0,1,0,False
17,2020-01-11 00:00:00+00:00,nan,AutoML,AutoML Services,nan,Approved,2,0,0,1,0,0,1,22,False
18,2020-01-11 00:00:00+00:00,nan,AutoML,SDK,nan,Approved,2,1,0,1,0,0,3,134,False
19,2020-01-11 00:00:00+00:00,nan,AutoML,SDK,nan,Approved,2,1,1,1,0,0,4,425,False
20,2020-01-11 00:00:00+00:00,nan,AutoML,SDK,nan,Committed,2,1,0,1,0,0,1,59,False
21,2020-01-11 00:00:00+00:00,nan,AutoML,SDK,nan,Committed,2,1,1,1,0,0,1,87,False
22,2020-01-11 00:00:00+00:00,nan,AutoML,UI,nan,Approved,2,0,0,1,0,0,10,43,False
23,2020-01-11 00:00:00+00:00,nan,AutoML,UI,nan,Done,1,1,1,0,1,0,1,89,False
24,2020-01-11 00:00:00+00:00,nan,AutoML,UI,nan,Done,2,0,0,1,0,0,2,23,False
25,2020-01-11 00:00:00+00:00,nan,AutoML,UI,nan,Done,2,1,0,0,1,0,1,32,False
26,2020-01-11 00:00:00+00:00,nan,AutoML,UI,nan,Done,2,1,1,0,1,0,7,1218,False
27,2020-01-11 00:00:00+00:00,nan,AutoML,UI,nan,New,2,0,0,1,0,0,13,15,False
28,2020-01-11 00:00:00+00:00,nan,AutoML,UI,nan,New,2,1,1,0,1,0,1,108,False
29,2020-01-11 00:00:00+00:00,nan,AutoML,UI,nan,New,2,1,1,0,1,1,1,213,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
667,2020-01-13 00:00:00+00:00,nan,MLOps,MLOps,0,Removed,2,1,1,0,1,0,1,194,True
668,2020-01-13 00:00:00+00:00,nan,MLOps,MLOps,0,To Do,2,1,1,1,0,0,7,942,True
669,2020-01-13 00:00:00+00:00,nan,MLOps,Model Management,0,New,2,0,0,1,0,0,12,19,True
670,2020-01-13 00:00:00+00:00,nan,MLOps,Model Management,0,To Do,2,0,0,1,0,0,1,24,True
671,2020-01-13 00:00:00+00:00,nan,MLOps,UI,0,Done,2,1,1,0,1,0,1,110,True
672,2020-01-13 00:00:00+00:00,nan,PM,PM,0,New,2,1,1,0,1,0,1,95,True
673,2020-01-13 00:00:00+00:00,nan,Pipelines,AEva,0,New,2,1,1,1,0,1,1,156,True
674,2020-01-13 00:00:00+00:00,nan,Pipelines,AEva,0,To Do,2,1,1,1,0,1,3,393,True
675,2020-01-13 00:00:00+00:00,nan,Pipelines,Documentation,0,Done,2,1,1,1,0,1,1,131,True
676,2020-01-13 00:00:00+00:00,nan,Pipelines,Pipelines,0,Done,2,0,0,1,0,0,2,0,True
677,2020-01-13 00:00:00+00:00,nan,Pipelines,Platform,0,In Progress,2,1,1,1,0,1,2,231,True
678,2020-01-13 00:00:00+00:00,nan,Pipelines,Platform,0,To Do,2,1,1,1,0,1,1,131,True
679,2020-01-13 00:00:00+00:00,nan,Responsible AI,Explainability,0,Done,2,1,1,0,1,0,1,82,True
680,2020-01-13 00:00:00+00:00,nan,Responsible AI,Explainability,0,In Progress,2,1,1,0,1,0,1,145,True
681,2020-01-13 00:00:00+00:00,nan,Responsible AI,Explainability,0,New,2,0,0,1,0,0,2,4,True
682,2020-01-13 00:00:00+00:00,nan,Responsible AI,Responsible AI,0,In Progress,2,1,1,0,1,0,1,110,True
683,2020-01-13 00:00:00+00:00,nan,Training,Data Science Instance,0,New,2,0,0,1,1,0,1,5,True
684,2020-01-13 00:00:00+00:00,nan,Training,Estimators,0,New,2,0,0,1,0,0,2,-2,True
685,2020-01-13 00:00:00+00:00,nan,Training,Notebook Exp,0,New,2,0,0,1,0,0,2,8,True
686,2020-01-13 00:00:00+00:00,nan,Training,Notebook Exp,0,New,2,1,0,1,0,0,3,137,True
687,2020-01-13 00:00:00+00:00,nan,Training,Notebook Exp,0,New,4,1,0,1,0,0,1,37,True
688,2020-01-13 00:00:00+00:00,nan,Training,Python,0,New,2,0,0,1,0,0,1,-1,True
689,2020-01-13 00:00:00+00:00,nan,Training,Training,0,Done,2,1,1,0,1,0,1,161,True
690,2020-01-13 00:00:00+00:00,nan,Training,Training,0,New,1,1,0,1,1,0,1,32,True
691,2020-01-13 00:00:00+00:00,nan,Training,Training,0,New,2,0,0,1,0,0,2,3,True
692,2020-01-13 00:00:00+00:00,nan,Training,UI,0,Approved,2,0,0,1,0,0,1,24,True
693,2020-01-13 00:00:00+00:00,nan,Training,UI,0,Done,2,1,1,0,1,0,2,190,True
694,2020-01-13 00:00:00+00:00,nan,Training,UI,0,In Progress,2,0,0,1,0,0,2,6,True
695,2020-01-13 00:00:00+00:00,nan,Training,UI,0,Open,2,1,1,1,0,1,1,123,True
696,2020-01-13 00:00:00+00:00,nan,Vienna,Vienna,0,New,2,1,1,0,1,0,2,261,True

In [54]:
df = pd.read_csv(data_path + "/age-summary.csv",index_col=None, header=0)
df.query('triaged != triaged')

,import_date,target_month,main_area,sub_area,triaged,State,Priority,over30days,over60days,papercut,ws20ga,customer,counts,SumAge,hasMaxImportDate
0,2020-01-11 00:00:00+00:00,NaN,Assets,Environments,NaN,New,2,0,0,1,0,0,1,2,False
1,2020-01-11 00:00:00+00:00,NaN,Assets,Metastore,NaN,New,2,1,0,1,0,0,1,45,False
2,2020-01-11 00:00:00+00:00,NaN,Assets,Metastore,NaN,New,4,0,0,1,0,0,1,29,False
3,2020-01-11 00:00:00+00:00,NaN,Assets,Run History,NaN,Done,2,0,0,1,0,0,1,22,False
4,2020-01-11 00:00:00+00:00,NaN,Assets,Run History,NaN,To Do,2,0,0,1,0,0,1,22,False
5,2020-01-11 00:00:00+00:00,NaN,AutoML,AutoML,NaN,Approved,2,0,0,1,0,0,1,17,False
6,2020-01-11 00:00:00+00:00,NaN,AutoML,AutoML,NaN,Approved,2,1,0,1,0,0,1,50,False
7,2020-01-11 00:00:00+00:00,NaN,AutoML,AutoML,NaN,Approved,2,1,1,1,0,0,1,98,False
8,2020-01-11 00:00:00+00:00,NaN,AutoML,AutoML,NaN,Approved,2,1,1,1,0,1,1,88,False
9,2020-01-11 00:00:00+00:00,NaN,AutoML,AutoML,NaN,Done,1,1,1,0,1,0,1,88,False
10,2020-01-11 00:00:00+00:00,NaN,AutoML,AutoML,NaN,Done,2,1,1,1,0,1,1,121,False
11,2020-01-11 00:00:00+00:00,NaN,AutoML,AutoML,NaN,In Progress,2,1,1,1,0,1,1,171,False
12,2020-01-11 00:00:00+00:00,NaN,AutoML,AutoML,NaN,New,2,0,0,1,0,0,14,8,False
13,2020-01-11 00:00:00+00:00,NaN,AutoML,AutoML,NaN,New,2,0,0,1,1,0,4,0,False
14,2020-01-11 00:00:00+00:00,NaN,AutoML,AutoML,NaN,New,2,1,0,0,1,0,1,35,False
15,2020-01-11 00:00:00+00:00,NaN,AutoML,AutoML,NaN,New,2,1,0,1,0,0,3,104,False
16,2020-01-11 00:00:00+00:00,NaN,AutoML,AutoML,NaN,Removed,2,0,0,1,0,0,1,0,False
17,2020-01-11 00:00:00+00:00,NaN,AutoML,AutoML Services,NaN,Approved,2,0,0,1,0,0,1,22,False
18,2020-01-11 00:00:00+00:00,NaN,AutoML,SDK,NaN,Approved,2,1,0,1,0,0,3,134,False
19,2020-01-11 00:00:00+00:00,NaN,AutoML,SDK,NaN,Approved,2,1,1,1,0,0,4,425,False
20,2020-01-11 00:00:00+00:00,NaN,AutoML,SDK,NaN,Committed,2,1,0,1,0,0,1,59,False
21,2020-01-11 00:00:00+00:00,NaN,AutoML,SDK,NaN,Committed,2,1,1,1,0,0,1,87,False
22,2020-01-11 00:00:00+00:00,NaN,AutoML,UI,NaN,Approved,2,0,0,1,0,0,10,43,False
23,2020-01-11 00:00:00+00:00,NaN,AutoML,UI,NaN,Done,1,1,1,0,1,0,1,89,False
24,2020-01-11 00:00:00+00:00,NaN,AutoML,UI,NaN,Done,2,0,0,1,0,0,2,23,False
25,2020-01-11 00:00:00+00:00,NaN,AutoML,UI,NaN,Done,2,1,0,0,1,0,1,32,False
26,2020-01-11 00:00:00+00:00,NaN,AutoML,UI,NaN,Done,2,1,1,0,1,0,7,1218,False
27,2020-01-11 00:00:00+00:00,NaN,AutoML,UI,NaN,New,2,0,0,1,0,0,13,15,False
28,2020-01-11 00:00:00+00:00,NaN,AutoML,UI,NaN,New,2,1,1,0,1,0,1,108,False
29,2020-01-11 00:00:00+00:00,NaN,AutoML,UI,NaN,New,2,1,1,0,1,1,1,213,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
391,2020-01-12 00:00:00+00:00,NaN,MLOps,MLOps,NaN,Open,2,1,1,1,0,1,1,128,False
392,2020-01-12 00:00:00+00:00,NaN,MLOps,MLOps,NaN,Open,3,1,1,1,0,1,1,93,False
393,2020-01-12 00:00:00+00:00,NaN,MLOps,MLOps,NaN,Removed,2,1,1,0,1,0,1,193,False
394,2020-01-12 00:00:00+00:00,NaN,MLOps,MLOps,NaN,To Do,2,1,1,1,0,0,7,935,False
395,2020-01-12 00:00:00+00:00,NaN,MLOps,Model Management,NaN,New,2,0,0,1,0,0,11,9,False
396,2020-01-12 00:00:00+00:00,NaN,MLOps,Model Management,NaN,To Do,2,0,0,1,0,0,1,23,False
397,2020-01-12 00:00:00+00:00,NaN,MLOps,UI,NaN,Done,2,1,1,0,1,0,1,109,False
398,2020-01-12 00:00:00+00:00,NaN,PM,PM,NaN,New,2,1,1,0,1,0,1,94,False
399,2020-01-12 00:00:00+00:00,NaN,Pipelines,AEva,NaN,New,2,1,1,1,0,1,1,155,False
400,2020-01-12 00:00:00+00:00,NaN,Pipelines,AEva,NaN,To Do,2,1,1,1,0,1,3,390,False
401,2020-01-12 00:00:00+00:00,NaN,Pipelines,Documentation,NaN,Done,2,1,1,1,0,1,1,130,False
402,2020-01-12 00:00:00+00:00,NaN,Pipelines,Pipelines,NaN,Approved,2,0,0,1,0,0,2,-2,False
403,2020-01-12 00:00:00+00:00,NaN,Pipelines,Platform,NaN,In Progress,2,1,1,1,0,1,1,130,False
404,2020-01-12 00:00:00+00:00,NaN,Pipelines,Platform,NaN,To Do,2,1,1,1,0,1,2,229,False
405,2020-01-12 00:00:00+00:00,NaN,Responsible AI,Explainability,NaN,Done,2,1,1,0,1,0,1,81,False
406,2020-01-12 00:00:00+00:00,NaN,Responsible AI,Explainability,NaN,In Progress,2,1,1,0,1,0,1,144,False
407,2020-01-12 00:00:00+00:00,NaN,Responsible AI,Explainability,NaN,New,2,0,0,1,0,0,2,2,False
408,2020-01-12 00:00:00+00:00,NaN,Responsible AI,Responsible AI,NaN,In Progress,2,1,1,0,1,0,1,109,False
409,2020-01-12 00:00:00+00:00,NaN,Training,Data Science Instance,NaN,New,2,0,0,1,1,0,1,4,False
410,2020-01-12 00:00:00+00:00,NaN,Training,Notebook Exp,NaN,New,2,0,0,1,0,0,3,36,False
411,2020-01-12 00:00:00+00:00,NaN,Training,Notebook Exp,NaN,New,2,1,0,1,0,0,2,104,False
412,2020-01-12 00:00:00+00:00,NaN,Training,Notebook Exp,NaN,New,4,1,0,1,0,0,1,36,False
413,2020-01-12 00:00:00+00:00,NaN,Training,Training,NaN,Done,2,1,1,0,1,0,1,160,False
414,2020-01-12 00:00:00+00:00,NaN,Training,Training,NaN,New,1,1,0,1,1,0,1,31,False
415,2020-01-12 00:00:00+00:00,NaN,Training,Training,NaN,New,2,0,0,1,0,0,2,1,False
416,2020-01-12 00:00:00+00:00,NaN,Training,UI,NaN,Approved,2,0,0,1,0,0,1,23,False
417,2020-01-12 00:00:00+00:00,NaN,Training,UI,NaN,Done,2,1,1,0,1,0,2,188,False
418,2020-01-12 00:00:00+00:00,NaN,Training,UI,NaN,In Progress,2,0,0,1,0,0,2,4,False
419,2020-01-12 00:00:00+00:00,NaN,Training,UI,NaN,Open,2,1,1,1,0,1,1,122,False
420,2020-01-12 00:00:00+00:00,NaN,Vienna,Vienna,NaN,New,2,1,1,0,1,0,2,259,False

In [71]:
if df['CreatedDate'].dt.tz is None:
    df['CreatedDate'] = df['CreatedDate'].dt.tz_localize('UTC')

In [72]:
start_time="2020-01-13T12:55:00"

False

In [82]:
outdf = pd.DataFrame(columns=df.columns)

for index, row in df.iterrows(): 
    row['foo'] = 'bar'
    outdf.append(row)
    
outdf

Empty DataFrame
Columns: [AcceptanceCriteria, ActivatedBy, ActivatedDate, AreaPath, AssignedTo, BacklogPriority, BoardColumn, BoardColumnDone, BusinessValue, ChangedBy, ChangedDate, ClosedBy, ClosedDate, CommentCount, CreatedBy, CreatedDate, Description, Effort, History, IcMDeliveryType, IcMIncidentCount, IcMIncidentIDs, IcMIncidentSeverity, IcMRepairItemType, IterationPath, MSRCSeverity, PMOwner, Parent, Priority, Reason, RemainingWork, ReproSteps, SecurityCause, Severity, State, StateChangeDate, SystemInfo, Tags, TargetDate, TeamProject, Title, ValueArea, WorkItemType, comment_version_ref, id, import_date, main_area, relations, rev, sub_area, url, EpicStatus, StartDate, Status]
Index: []

[0 rows x 54 columns]

In [74]:
pd.read_csv('data/age-summary.csv')

,import_date,id,main_area,sub_area,State,Priority,over30days,over60days,counts,SumAge,hasMaxImportDate
0,2020-01-10 00:00:00+00:00,410462,Core UI,Core UI,New,2,1,1,1,268,False
1,2020-01-10 00:00:00+00:00,433107,Core UI,Core UI,New,2,1,1,1,234,False
2,2020-01-10 00:00:00+00:00,437790,MLOps,MLOps,To Do,2,1,1,1,226,False
3,2020-01-10 00:00:00+00:00,472503,AutoML,SDK,Approved,2,1,1,1,178,False
4,2020-01-10 00:00:00+00:00,478101,AutoML,AutoML,In Progress,2,1,1,1,170,False
5,2020-01-10 00:00:00+00:00,478856,Training,Notebook Exp,New,2,1,1,1,169,False
6,2020-01-10 00:00:00+00:00,484656,MLOps,MLOps,To Do,2,1,1,1,160,False
7,2020-01-10 00:00:00+00:00,495765,MLOps,MLOps,Approved,2,1,1,1,141,False
8,2020-01-10 00:00:00+00:00,497142,Core UI,Notebooks,In Progress,2,1,1,1,139,False
9,2020-01-10 00:00:00+00:00,502493,Pipelines,AEva,To Do,2,1,1,1,128,False
10,2020-01-10 00:00:00+00:00,502495,Pipelines,Platform,To Do,2,1,1,1,128,False
11,2020-01-10 00:00:00+00:00,502496,Pipelines,AEva,To Do,2,1,1,1,128,False
12,2020-01-10 00:00:00+00:00,502498,Pipelines,Platform,In Progress,2,1,1,1,128,False
13,2020-01-10 00:00:00+00:00,502499,Pipelines,AEva,To Do,2,1,1,1,128,False
14,2020-01-10 00:00:00+00:00,502500,Pipelines,Documentation,Done,2,1,1,1,128,False
15,2020-01-10 00:00:00+00:00,503706,MLOps,MLOps,Open,2,1,1,1,126,False
16,2020-01-10 00:00:00+00:00,505755,Training,Notebook Exp,Approved,1,1,1,1,122,False
17,2020-01-10 00:00:00+00:00,506493,MLOps,MLOps,Approved,2,1,1,1,121,False
18,2020-01-10 00:00:00+00:00,506615,MLOps,MLOps,Approved,2,1,1,1,121,False
19,2020-01-10 00:00:00+00:00,506912,Training,UI,Open,2,1,1,1,120,False
20,2020-01-10 00:00:00+00:00,506920,AutoML,AutoML,Done,2,1,1,1,120,False
21,2020-01-10 00:00:00+00:00,508668,MLOps,MLOps,To Do,2,1,1,1,118,False
22,2020-01-10 00:00:00+00:00,510366,MLOps,MLOps,To Do,2,1,1,1,114,False
23,2020-01-10 00:00:00+00:00,510398,Training,Notebook Exp,Approved,2,1,1,1,114,False
24,2020-01-10 00:00:00+00:00,512912,Data Labeling,Experience,New,2,1,1,1,110,False
25,2020-01-10 00:00:00+00:00,512935,Data Labeling,Infrastructure,In Progress,2,1,1,1,110,False
26,2020-01-10 00:00:00+00:00,513375,Training,Notebook Exp,Done,1,1,1,1,108,False
27,2020-01-10 00:00:00+00:00,513379,Training,Notebook Exp,Done,1,1,1,1,108,False
28,2020-01-10 00:00:00+00:00,516787,AutoML,SDK,Approved,2,1,1,1,103,False
29,2020-01-10 00:00:00+00:00,517631,MLOps,MLOps,To Do,2,1,1,1,101,False
...,...,...,...,...,...,...,...,...,...,...,...
534,2020-01-11 00:00:00+00:00,582328,Core UI,Experimentation UI,New,2,0,0,1,0,True
535,2020-01-11 00:00:00+00:00,582329,Core UI,Experimentation UI,Removed,2,0,0,1,0,True
536,2020-01-11 00:00:00+00:00,582330,Core UI,Experimentation UI,Approved,2,0,0,1,0,True
537,2020-01-11 00:00:00+00:00,582331,Responsible AI,Explainability,New,2,0,0,1,0,True
538,2020-01-11 00:00:00+00:00,582340,Designer,Designer,New,2,0,0,1,0,True
539,2020-01-11 00:00:00+00:00,582341,Designer,Designer,New,2,0,0,1,0,True
540,2020-01-11 00:00:00+00:00,582344,Designer,Designer,New,2,0,0,1,0,True
541,2020-01-11 00:00:00+00:00,582345,Designer,Designer,New,2,0,0,1,0,True
542,2020-01-11 00:00:00+00:00,582346,Designer,Designer,New,2,0,0,1,0,True
543,2020-01-11 00:00:00+00:00,582347,Designer,Designer,New,2,0,0,1,0,True
544,2020-01-11 00:00:00+00:00,582348,Designer,Designer,New,2,0,0,1,0,True
545,2020-01-11 00:00:00+00:00,582350,Designer,Designer,New,2,0,0,1,0,True
546,2020-01-11 00:00:00+00:00,582351,Designer,Designer,New,2,0,0,1,0,True
547,2020-01-11 00:00:00+00:00,582352,Designer,Designer,New,2,0,0,1,0,True
548,2020-01-11 00:00:00+00:00,582353,Designer,Designer,New,2,0,0,1,0,True
549,2020-01-11 00:00:00+00:00,582691,Designer,Designer,New,2,0,0,1,0,True
550,2020-01-11 00:00:00+00:00,582692,AutoML,AutoML,New,2,0,0,1,0,True
551,2020-01-11 00:00:00+00:00,582695,MLOps,Model Management,New,2,0,0,1,0,True
552,2020-01-11 00:00:00+00:00,582696,MLOps,Model Management,New,2,0,0,1,0,True
553,2020-01-11 00:00:00+00:00,582697,MLOps,Model Management,New,2,0,0,1,0,True
554,2020-01-11 00:00:00+00:00,582698,MLOps,Model Management,New,2,0,0,1,0,True
555,2020-01-11 00:00:00+00:00,582699,MLOps,Model Management,New,2,0,0,1,0,True
556,2020-01-11 00:00:00+00:00,582701,MLOps,Model Management,New,2,0,0,1,0,True
557,2020-01-11 00:00:00+00:00,582702,MLOps,Model Management,New,2,0,0,1,0,True
558,2020-01-11 00:00:00+00:00,582705,MLOps,Model Management,New,2,0,0,1,0,True
559,2020-01-11 00:00:00+00:00,582706,MLOps,Model Management,New,2,0,0,1,0,True
560,2020-01-11 00:00:00+00:00,582711,Core UI,Notebooks,New,2,0,0,1,0,True
561,2020-01-11 00:00:00+00:00,583053,Training,Notebook Exp,New,2,0,0,1,0,True
562,2020-01-11 00:00:00+00:00,583078,Training,Notebook Exp,New,2,0,0,1,0,True
563,2020-01-11 00:00:00+00:00,583104,Core UI,Notebooks,New,2,0,0,1,0,True

In [14]:
df[['id','CreatedDate','Title','Tags','Description','AreaPath']]

,id,CreatedDate,Title,Tags,Description,AreaPath
0,580752,2020-01-08T19:28:15.413Z,No environment for data preparation,papercut,NaN,Vienna\Assets\Environments
1,571191,2019-12-19T22:17:54.497Z,"Run history: metrics are not showing up (AUC, ...",Papercuts; Run History; WS2.0,NaN,Vienna\Assets\Run History
2,571184,2019-12-19T22:10:46.81Z,Naming a run would be helpful to identify them...,Customer Engagement; Papercuts; Run History,<div>[Feedback from David Gollob]</div><div><b...,Vienna\Assets\Run History
3,478101,2019-07-23T21:57:43.217Z,Newer AutoML cannot load old saved model - bac...,ACE; Customer; papercut,"<b><u><a href=""#"" data-vss-mention=""version:2....",Vienna\AutoML
4,506920,2019-09-11T15:39:36.607Z,AutoML get_data() function,AVANADE; CHEVRON; Customer; papercut,<div>Took professional data scientists 4 days ...,Vienna\AutoML
5,582244,2020-01-10T00:11:33.15Z,[Automl tab] All run tables should have run nu...,papercut,NaN,Vienna\AutoML
6,582246,2020-01-10T00:12:00.897Z,[Automl tab] Runid columns should be abbreviated.,papercut,NaN,Vienna\AutoML
7,582247,2020-01-10T00:12:37.613Z,[Automl tab] The datetime format is bloated. W...,papercut,NaN,Vienna\AutoML
8,582250,2020-01-10T00:13:15.78Z,[Automl tab] The bread crumb is weird 'Welcome...,papercut,NaN,Vienna\AutoML
9,582251,2020-01-10T00:13:45.84Z,[Automl tab] 5 times we say 'Automated Machine...,papercut,NaN,Vienna\AutoML
10,582254,2020-01-10T00:15:34.347Z,"[Automl tab] ""View all runs"" issues",papercut,NaN,Vienna\AutoML
11,582255,2020-01-10T00:16:11.683Z,[Automl tab] There is a table of docs and it s...,papercut,NaN,Vienna\AutoML
12,582214,2020-01-09T23:56:03.573Z,[Experiment tab] Models tab - I would have pre...,papercut,NaN,Vienna\AutoML
13,582215,2020-01-09T23:56:28.63Z,[Experiment tab] Details doesnt show created by,papercut,NaN,Vienna\AutoML
14,582216,2020-01-09T23:57:06.7Z,"[Experiment tab] Created on field show ""--"" ev...",papercut,NaN,Vienna\AutoML
15,582217,2020-01-09T23:57:41.73Z,"[Experiment tab] On the deploy/download, none ...",papercut,NaN,Vienna\AutoML
16,582220,2020-01-09T23:58:15.937Z,[Experiment tab] There is a auto-refresh chec...,papercut,NaN,Vienna\AutoML
17,582221,2020-01-09T23:58:46.16Z,[Experiment tab] Models tab - needs created by,papercut,NaN,Vienna\AutoML
18,582222,2020-01-09T23:59:11.067Z,[Experiment tab] data guardrails - not clear w...,papercut,NaN,Vienna\AutoML
19,582223,2020-01-09T23:59:39.147Z,"[Experiment tab] Why are ""additional run setti...",papercut,NaN,Vienna\AutoML
20,582225,2020-01-10T00:00:11.703Z,[Experiment tab] I would have expected the mod...,papercut,NaN,Vienna\AutoML
21,582226,2020-01-10T00:00:42.053Z,[Experiment tab] Model details - Status - mode...,papercut,NaN,Vienna\AutoML
22,582227,2020-01-10T00:01:27.667Z,[Experiment tab] Should be able to turn best r...,papercut,NaN,Vienna\AutoML
23,582236,2020-01-10T00:06:50.03Z,"[Experiment tab] I have two runs, the view has...",papercut,NaN,Vienna\AutoML
24,582237,2020-01-10T00:07:19.21Z,"[Experiment tab] Table shows tags, I didnt mak...",papercut,NaN,Vienna\AutoML
25,571095,2019-12-19T20:38:30.733Z,AutoML is running but compute shows idle,automl; Customer Engagement; Papercuts; WS2.0,NaN,Vienna\AutoML\AutoML Services
26,571166,2019-12-19T21:41:35.183Z,"AutoML: Show list of deployed models, not just...",AutoMLUX; Papercuts; WS2.0,<div>[Feedback fromDavid Gollob]</div><div><br...,Vienna\AutoML\UI
27,571189,2019-12-19T22:16:33.057Z,AutoML: typo – “Cancel new experiment?” should...,AutoMLUX; Papercuts; WS2.0,NaN,Vienna\AutoML\UI
28,573338,2019-12-27T20:18:59.063Z,Can't register model from automl ui,Papercuts,NaN,Vienna\AutoML\UI
29,573339,2019-12-27T20:19:55.23Z,"When deploying model from automl ui, it doesn'...",Papercuts,NaN,Vienna\AutoML\UI
...,...,...,...,...,...,...
185,502499,2019-09-03T19:22:04.447Z,DOCUMENTATION - PythonScriptStep vs Estimator...,AVANADE; Customer; papercut,<div>Customer feedback that they are confused ...,Vienna\Pipelines\AEva
186,520195,2019-10-04T01:05:52.653Z,Create directory automatically if PipelineData...,AVANADE; Customer; papercut,NaN,Vienna\Pipelines\AEva
187,502500,2019-09-03T19:24:04.367Z,DOCUMENTATION - Debugging for steps,AVANADE; Customer; papercut,<div>We\nneed to document how to debug steps (...,Vienna\Pipelines\Documentation
188,502498,2019-09-03T19:20:49.477Z,DOCUMENTATION - Datareferences and pipeline Data,AVANADE; Customer; papercut,"<span style=""font-family:-apple-system;font-si...",Vienna\Pipelines\Platform
189,502495,2019-09-03T19:15:51.817Z,DOCUMENTATION - How to modularize a python scr...,AVANADE; Customer; papercut,<div>Feedback from customer that there is no\n...,Vienna\Pipelines\Platform
190,520196,2019-10-04T01:07:32.883Z,Print all arguments to the script in a Step,AVANADE; Customer; papercut,"<div><div><a href=""https://teams.microsoft.com...",Vienna\Pipelines\Platform
191,582331,2020-01-10T00:56:24.957Z,[Experiment tab] script run view - why do all ...,papercut,NaN,Vienna\Responsible AI\Explainability
192,582228,2020-01-10T00:02:00.83Z,[Experiment tab] I ran an explanation job but ...,papercut,NaN,Vienna\Responsible AI\Explainability
193,565337,2019-12-11T14:20:11.267Z,504 Gateway Time-out nginx,papercut; WS20GA,NaN,Vienna\Training
194,582055,2020-01-09T22:44:15.593Z,[Compute tab] compute runs doesnt show recentl...,papercut,NaN,Vienna\Training
195,577116,2020-01-07T20:51:52.17Z,AzureMLCI: Notebook does not remember the VM i...,amlpythonsdk; AzureML CI bug bash; papercut; W...,NaN,Vienna\Training\Data Science Instance
196,571185,2019-12-19T22:12:58.28Z,Tooltips for compute types to explain each one,compute; ComputeUX; Papercuts; WS2.0,NaN,Vienna\Training\Interfaces\UI
197,553354,2019-11-27T20:24:40.65Z,Auto Refresh on File explorer,Papercuts; stretch goal,"<span style=""font-size:11.0pt;font-family:&quo...",Vienna\Training\Notebook Exp
198,558999,2019-12-06T21:02:28.653Z,Upload a folder recursively,Feedback; Papercuts,<div>Maybe if we can support .zip folder extra...,Vienna\Training\Notebook Exp
199,565808,2019-12-12T00:46:34.063Z,Implement fast file search,Papercuts; UxDesignerNeeded,<div>Dependent on File metastore API</div><div...,Vienna\Training\Notebook Exp
200,548236,2019-11-19T21:18:02.52Z,Autocomplete and Intellisense working properly,Customer; Papercuts,NaN,Vienna\Training\Notebook Exp
201,513375,2019-09-23T19:18:47.757Z,Implement Move in File Explorer,Customer; File Explorer; Papercuts; WS2.0; WS2...,<div>Allow a user to Move a file or folder to ...,Vienna\Training\Notebook Exp
202,513379,2019-09-23T19:26:57.03Z,Implement Rename in File Explorer,Customer; File Explorer; Papercuts; WS2.0; WS2...,"<div><div style=""box-sizing:border-box;"">Allow...",Vienna\Training\Notebook Exp
203,577194,2020-01-07T22:37:31.9Z,"Notebook left nav takes way too long to load, ...",Papercuts,"<div>Cna't repro yet, but customer running int...",Vienna\Training\Notebook Exp
204,577208,2020-01-07T23:00:39.25Z,Advanced Editing and Python Script Run Support,Papercuts,"<div><p style=""margin-right:0in;margin-left:0i...",Vienna\Training\Notebook Exp
205,580684,2020-01-08T18:39:36.187Z,Integrated notebooks - no way to change conda ...,papercut; Papercuts,NaN,Vienna\Training\Notebook Exp
206,580686,2020-01-08T18:40:46.62Z,Integrated notebooks - access and leverage azu...,papercut; Papercuts,NaN,Vienna\Training\Notebook Exp
207,580852,2020-01-08T22:14:26.513Z,Add scroll bar to cell and cell output if it i...,papercut; Papercuts,NaN,Vienna\Training\Notebook Exp
208,580853,2020-01-08T22:15:00.863Z,Loading time of the notebook attached is very ...,papercut; Papercuts,NaN,Vienna\Training\Notebook Exp
209,571551,2019-12-20T17:44:20.947Z,[Mitigation][In Master] Move Jupyter Button to...,Papercuts,"<div><p style=""margin:0in 0in 0.0001pt;font-si...",Vienna\Training\Notebook Exp
210,577008,2020-01-07T18:42:06.22Z,Enable File Tabs,Papercuts,"<div>In order to enable file tabs, we need to ...",Vienna\Training\Notebook Exp
211,577024,2020-01-07T18:46:31.067Z,Fix kernel switching/launching,papercut; Papercuts,"<div>Currently, kernels are not handled correc...",Vienna\Training\Notebook Exp
212,582150,2020-01-09T23:12:07.8Z,Enable in-browser rendering of logs in pipelin...,Daimler Athena; papercut,"<div><span style=""font-weight:inherit;"">In the...",Vienna\Training\UI
213,582120,2020-01-09T23:00:42.953Z,Add table view back to pipeline run details page,Daimler Athena; papercut,"<div><span style=""box-sizing:border-box;""><b>P...",Vienna\Training\UI
214,506912,2019-09-11T15:28:55.077Z,Deleting experiments from UI,AVANADE; Customer; papercut,"<div>Avanade runs many experiments, and would ...",Vienna\Training\UI

In [4]:
from datetime import date, timedelta 
df['CreatedDate'] = pd.to_datetime(df['CreatedDate']).dt.tz_convert('UTC')
df['import_date'] = pd.to_datetime(df['import_date']).dt.tz_localize('UTC')
df['Age'] = (df['import_date'] - df['CreatedDate']).dt.days
df['over30days'] = df['Age'] > 30
df['over60days'] = df['Age'] > 60

In [6]:
gems = pd.read_csv(data_path + '/gems.csv')
df = pd.merge(df, gems, how='left', on=['AreaPath'])

In [7]:
df.shape

(18024, 46)

In [8]:
grouped = df.fillna('nan')[['import_date', 'GEM', 'EM', 'main_area', 'sub_area', 'State', 'Priority', 'over30days', 'over60days', 'Age']].groupby(['import_date', 'GEM', 'EM', 'main_area', 'sub_area', 'State', 'Priority', 'over30days', 'over60days'])
aggregated = grouped.size().reset_index(name='counts')
aggregated.head()

,import_date,GEM,EM,main_area,sub_area,State,Priority,over30days,over60days,counts
0,2019-03-02 00:00:00+00:00,Bert,Rajeev,UX,Model Management,Approved,2,True,True,5
1,2019-03-02 00:00:00+00:00,Bert,Rajeev,UX,Model Management,New,2,False,False,2
2,2019-03-02 00:00:00+00:00,Bert,Rajeev,UX,Model Management,New,2,True,False,1
3,2019-03-02 00:00:00+00:00,Bert,Rajeev,UX,Model Management,New,3,True,True,1
4,2019-03-02 00:00:00+00:00,Bert,Rajeev,UX,Reactbiza,Approved,2,True,True,6

In [9]:
sum(aggregated['counts'])

18024

In [10]:
age = grouped.sum().reset_index()['Age']
aggregated['SumAge'] = age

aggregated.head()

,import_date,GEM,EM,main_area,sub_area,State,Priority,over30days,over60days,counts,SumAge
0,2019-03-02 00:00:00+00:00,Bert,Rajeev,UX,Model Management,Approved,2,True,True,5,591
1,2019-03-02 00:00:00+00:00,Bert,Rajeev,UX,Model Management,New,2,False,False,2,27
2,2019-03-02 00:00:00+00:00,Bert,Rajeev,UX,Model Management,New,2,True,False,1,31
3,2019-03-02 00:00:00+00:00,Bert,Rajeev,UX,Model Management,New,3,True,True,1,73
4,2019-03-02 00:00:00+00:00,Bert,Rajeev,UX,Reactbiza,Approved,2,True,True,6,624

In [11]:
aggregated[['import_date','counts']].groupby(['import_date']).sum()

                           counts
import_date
2019-03-02 00:00:00+00:00     741
2019-03-03 00:00:00+00:00     744
2019-03-04 00:00:00+00:00     742
2019-03-05 00:00:00+00:00     737
2019-03-06 00:00:00+00:00     741
2019-03-07 00:00:00+00:00     748
2019-03-08 00:00:00+00:00     724
2019-03-09 00:00:00+00:00     732
2019-03-10 00:00:00+00:00     723
2019-03-11 00:00:00+00:00     713
2019-03-12 00:00:00+00:00     709
2019-03-13 00:00:00+00:00     729
2019-03-14 00:00:00+00:00     702
2019-03-15 00:00:00+00:00     715
2019-03-16 00:00:00+00:00     694
2019-03-17 00:00:00+00:00     694
2019-03-18 00:00:00+00:00     696
2019-03-19 00:00:00+00:00     694
2019-03-20 00:00:00+00:00     691
2019-03-21 00:00:00+00:00     685
2019-03-22 00:00:00+00:00     614
2019-03-23 00:00:00+00:00     609
2019-03-24 00:00:00+00:00     609
2019-03-25 00:00:00+00:00     603
2019-03-26 00:00:00+00:00     606
2019-04-12 00:00:00+00:00     629

In [12]:
aggregated['hasMaxImportDate'] = aggregated['import_date'] == max(aggregated['import_date'])

In [13]:
aggregated

,import_date,GEM,EM,main_area,sub_area,State,Priority,over30days,over60days,counts,SumAge,hasMaxImportDate
0,2019-03-02 00:00:00+00:00,Bert,Rajeev,UX,Model Management,Approved,2,True,True,5,591,False
1,2019-03-02 00:00:00+00:00,Bert,Rajeev,UX,Model Management,New,2,False,False,2,27,False
2,2019-03-02 00:00:00+00:00,Bert,Rajeev,UX,Model Management,New,2,True,False,1,31,False
3,2019-03-02 00:00:00+00:00,Bert,Rajeev,UX,Model Management,New,3,True,True,1,73,False
4,2019-03-02 00:00:00+00:00,Bert,Rajeev,UX,Reactbiza,Approved,2,True,True,6,624,False
5,2019-03-02 00:00:00+00:00,Bert,Rajeev,UX,Reactbiza,New,2,True,True,4,390,False
6,2019-03-02 00:00:00+00:00,Bert,Salil,Model Management,Model Management,Approved,1,True,False,1,51,False
7,2019-03-02 00:00:00+00:00,Bert,Salil,Model Management,Model Management,Approved,1,True,True,1,95,False
8,2019-03-02 00:00:00+00:00,Bert,Salil,Model Management,Model Management,Approved,2,False,False,1,23,False
9,2019-03-02 00:00:00+00:00,Bert,Salil,Model Management,Model Management,Approved,2,True,False,2,101,False
10,2019-03-02 00:00:00+00:00,Bert,Salil,Model Management,Model Management,Approved,2,True,True,8,1566,False
11,2019-03-02 00:00:00+00:00,Bert,Salil,Model Management,Model Management,Committed,2,True,False,1,31,False
12,2019-03-02 00:00:00+00:00,Bert,Salil,Model Management,Model Management,New,1,True,False,1,44,False
13,2019-03-02 00:00:00+00:00,Bert,Salil,Model Management,Model Management,New,2,False,False,8,120,False
14,2019-03-02 00:00:00+00:00,Bert,Salil,Model Management,Model Management,New,2,True,False,2,80,False
15,2019-03-02 00:00:00+00:00,Bert,Salil,Model Management,Model Management,New,2,True,True,2,147,False
16,2019-03-02 00:00:00+00:00,Bert,Salil,Model Management,Model Management,New,4,True,True,1,84,False
17,2019-03-02 00:00:00+00:00,Bert,Salil,SDK,Machine Learning Compute,New,3,True,False,1,57,False
18,2019-03-02 00:00:00+00:00,Bert,Salil,SDK,Machine Learning Compute,New,3,True,True,1,168,False
19,2019-03-02 00:00:00+00:00,Bert,Salil,SDK,Machine Learning Compute,New,4,True,True,1,161,False
20,2019-03-02 00:00:00+00:00,Bert,Salil,SDK,Model Management,Approved,1,True,True,1,100,False
21,2019-03-02 00:00:00+00:00,Bert,Salil,SDK,Operationalization,Approved,2,True,True,1,154,False
22,2019-03-02 00:00:00+00:00,Bert,Salil,SDK,Operationalization,New,2,True,True,1,123,False
23,2019-03-02 00:00:00+00:00,Bert,nan,CLI,CLI,New,2,False,False,1,2,False
24,2019-03-02 00:00:00+00:00,Bert,nan,FPGA,FPGA,Approved,2,True,True,3,380,False
25,2019-03-02 00:00:00+00:00,Bert,nan,FPGA,FPGA,Committed,2,True,True,2,305,False
26,2019-03-02 00:00:00+00:00,Bert,nan,FPGA,FPGA,New,2,False,False,2,5,False
27,2019-03-02 00:00:00+00:00,Bert,nan,FPGA,FPGA,New,2,True,True,1,168,False
28,2019-03-02 00:00:00+00:00,Bert,nan,Infrastructure,Infrastructure,Approved,2,False,False,1,23,False
29,2019-03-02 00:00:00+00:00,Bert,nan,Infrastructure,Infrastructure,Approved,2,True,False,2,63,False
...,...,...,...,...,...,...,...,...,...,...,...,...
4082,2019-04-12 00:00:00+00:00,nan,nan,Inference,FPGA,Approved,2,False,False,1,14,True
4083,2019-04-12 00:00:00+00:00,nan,nan,Inference,FPGA,Approved,2,True,True,3,503,True
4084,2019-04-12 00:00:00+00:00,nan,nan,Inference,FPGA,Committed,2,False,False,2,18,True
4085,2019-04-12 00:00:00+00:00,nan,nan,Inference,FPGA,Committed,2,True,True,2,387,True
4086,2019-04-12 00:00:00+00:00,nan,nan,Inference,FPGA,New,2,True,True,1,209,True
4087,2019-04-12 00:00:00+00:00,nan,nan,Inference,Inference,Approved,2,False,False,1,15,True
4088,2019-04-12 00:00:00+00:00,nan,nan,Inference,Inference,Approved,2,True,False,1,60,True
4089,2019-04-12 00:00:00+00:00,nan,nan,Inference,Inference,Approved,2,True,True,5,504,True
4090,2019-04-12 00:00:00+00:00,nan,nan,Inference,Inference,New,2,False,False,3,27,True
4091,2019-04-12 00:00:00+00:00,nan,nan,Inference,Inference,New,2,True,True,1,167,True
4092,2019-04-12 00:00:00+00:00,nan,nan,Infrastructure,Engineering,Approved,3,True,True,1,367,True
4093,2019-04-12 00:00:00+00:00,nan,nan,Labeling,Labeling,New,2,False,False,2,14,True
4094,2019-04-12 00:00:00+00:00,nan,nan,ML Ops,ML Ops,Approved,2,False,False,4,27,True
4095,2019-04-12 00:00:00+00:00,nan,nan,ML Ops,ML Ops,Approved,2,True,False,3,153,True
4096,2019-04-12 00:00:00+00:00,nan,nan,ML Ops,ML Ops,Approved,2,True,True,3,334,True
4097,2019-04-12 00:00:00+00:00,nan,nan,ML Ops,ML Ops,New,2,False,False,4,25,True
4098,2019-04-12 00:00:00+00:00,nan,nan,ML Ops,Model Management,Approved,2,False,False,7,90,True
4099,2019-04-12 00:00:00+00:00,nan,nan,ML Ops,Model Management,Approved,2,True,False,2,76,True
4100,2019-04-12 00:00:00+00:00,nan,nan,ML Ops,Model Management,Approved,2,True,True,5,746,True
4101,2019-04-12 00:00:00+00:00,nan,nan,ML Ops,Model Management,New,2,True,False,2,100,True
4102,2019-04-12 00:00:00+00:00,nan,nan,ML Ops,Model Management,New,2,True,True,2,184,True
4103,2019-04-12 00:00:00+00:00,nan,nan,ML Ops,SDK,Approved,1,True,True,1,141,True
4104,2019-04-12 00:00:00+00:00,nan,nan,ML Ops,SDK,Approved,2,True,True,2,359,True
4105,2019-04-12 00:00:00+00:00,nan,nan,ML Ops,UX,Approved,2,True,True,1,149,True
4106,2019-04-12 00:00:00+00:00,nan,nan,ML Ops,UX,New,2,False,False,3,42,True
4107,2019-04-12 00:00:00+00:00,nan,nan,ML Ops,UX,New,2,True,False,1,49,True
4108,2019-04-12 00:00:00+00:00,nan,nan,PM,PM,Approved,2,True,True,1,93,True
4109,2019-04-12 00:00:00+00:00,nan,nan,PM,PM,New,2,False,False,1,1,True
4110,2019-04-12 00:00:00+00:00,nan,nan,PM,PM,New,2,True,True,2,189,True
4111,2019-04-12 00:00:00+00:00,nan,nan,Vienna,Vienna,New,2,True,True,1,260,True

In [ ]:
df.index

In [ ]:
aggregated.to_csv(data_path + '/bug-age.csv', index=False)

In [ ]:
reloaded = pd.read_csv(data_path + '/age-summary.csv')

In [ ]:
reloaded

In [23]:
gems = pd.DataFrame(dict(AreaPath = latest['AreaPath'].unique()))
gems['GEM'] = None
gems['EM'] = None

In [24]:
gems

                               AreaPath   GEM    EM
0                                Vienna  None  None
1                       Vienna\_archive  None  None
2                    Vienna\1P Adoption  None  None
3                         Vienna\AutoML  None  None
4         Vienna\Data Services\DataPrep  None  None
5         Vienna\Data Services\Datasets  None  None
6   Vienna\Data Services\Explainability  None  None
7                      Vienna\DataDrift  None  None
8                            Vienna\EPR  None  None
9                Vienna\Experimentation  None  None
10          Vienna\Experimentation\AEva  None  None
11     Vienna\Experimentation\Artifacts  None  None
12           Vienna\Experimentation\CLI  None  None
13    Vienna\Experimentation\Data Model  None  None
14     Vienna\Experimentation\Execution  None  None
15            Vienna\Experimentation\UX  None  None
16                          Vienna\FPGA  None  None
17                Vienna\Infrastructure  None  None
18      Vienna\Machine Learning Compute  None  None
19              Vienna\Model Management  None  None
20          Vienna\Model Management\ICE  None  None
21                            Vienna\PM  None  None
22                           Vienna\SDK  None  None
23                      Vienna\SDK\Aeva  None  None
24  Vienna\SDK\Machine Learning Compute  None  None
25          Vienna\SDK\Model Management  None  None
26        Vienna\SDK\Operationalization  None  None
27                  Vienna\SDK\Training  None  None
28               Vienna\Systems\Billing  None  None
29           Vienna\Systems\Engineering  None  None
30              Vienna\Systems\Security  None  None
31             Vienna\Systems\Telemetry  None  None
32                      Vienna\Training  None  None
33              Vienna\Training\BatchAI  None  None
34                 Vienna\Training\DSVM  None  None
35           Vienna\Training\Hyperdrive  None  None
36      Vienna\Training\TrainingService  None  None
37                            Vienna\UX  None  None
38                     Vienna\UX\AutoML  None  None
39   Vienna\UX\Machine Learning Compute  None  None
40           Vienna\UX\Model Management  None  None
41                  Vienna\UX\Reactbiza  None  None
42                   Vienna\UX\Training  None  None

In [94]:

elements = pd.read_csv('elements.csv')
elements

,AtomicNumber,Element,Symbol,AtomicMass,NumberofNeutrons,NumberofProtons,NumberofElectrons,Period,Group,Phase,...,FirstIonization,Density,MeltingPoint,BoilingPoint,NumberOfIsotopes,Discoverer,Year,SpecificHeat,NumberofShells,NumberofValence
0,1,Hydrogen,H,1.007,0,1,1,1,1.0,gas,...,13.5984,0.000090,14.175,20.28,3.0,Cavendish,1766.0,14.304,1,1.0
1,2,Helium,He,4.002,2,2,2,1,18.0,gas,...,24.5874,0.000179,NaN,4.22,5.0,Janssen,1868.0,5.193,1,NaN
2,3,Lithium,Li,6.941,4,3,3,2,1.0,solid,...,5.3917,0.534000,453.850,1615.00,5.0,Arfvedson,1817.0,3.582,2,1.0
3,4,Beryllium,Be,9.012,5,4,4,2,2.0,solid,...,9.3227,1.850000,1560.150,2742.00,6.0,Vaulquelin,1798.0,1.825,2,2.0
4,5,Boron,B,10.811,6,5,5,2,13.0,solid,...,8.2980,2.340000,2573.150,4200.00,6.0,Gay-Lussac,1808.0,1.026,2,3.0
5,6,Carbon,C,12.011,6,6,6,2,14.0,solid,...,11.2603,2.270000,3948.150,4300.00,7.0,Prehistoric,NaN,0.709,2,4.0
6,7,Nitrogen,N,14.007,7,7,7,2,15.0,gas,...,14.5341,0.001250,63.290,77.36,8.0,Rutherford,1772.0,1.040,2,5.0
7,8,Oxygen,O,15.999,8,8,8,2,16.0,gas,...,13.6181,0.001430,50.500,90.20,8.0,Priestley/Scheele,1774.0,0.918,2,6.0
8,9,Fluorine,F,18.998,10,9,9,2,17.0,gas,...,17.4228,0.001700,53.630,85.03,6.0,Moissan,1886.0,0.824,2,7.0
9,10,Neon,Ne,20.180,10,10,10,2,18.0,gas,...,21.5645,0.000900,24.703,27.07,8.0,Ramsay and Travers,1898.0,1.030,2,8.0
10,11,Sodium,Na,22.990,12,11,11,3,1.0,solid,...,5.1391,0.971000,371.150,1156.00,7.0,Davy,1807.0,1.228,3,1.0
11,12,Magnesium,Mg,24.305,12,12,12,3,2.0,solid,...,7.6462,1.740000,923.150,1363.00,8.0,Black,1755.0,1.023,3,2.0
12,13,Aluminum,Al,26.982,14,13,13,3,13.0,solid,...,5.9858,2.700000,933.400,2792.00,8.0,Wshler,1827.0,0.897,3,3.0
13,14,Silicon,Si,28.086,14,14,14,3,14.0,solid,...,8.1517,2.330000,1683.150,3538.00,8.0,Berzelius,1824.0,0.705,3,4.0
14,15,Phosphorus,P,30.974,16,15,15,3,15.0,solid,...,10.4867,1.820000,317.250,553.00,7.0,BranBrand,1669.0,0.769,3,5.0
15,16,Sulfur,S,32.065,16,16,16,3,16.0,solid,...,10.3600,2.070000,388.510,717.80,10.0,Prehistoric,NaN,0.710,3,6.0
16,17,Chlorine,Cl,35.453,18,17,17,3,17.0,gas,...,12.9676,0.003210,172.310,239.11,11.0,Scheele,1774.0,0.479,3,7.0
17,18,Argon,Ar,39.948,22,18,18,3,18.0,gas,...,15.7596,0.001780,83.960,87.30,8.0,Rayleigh and Ramsay,1894.0,0.520,3,8.0
18,19,Potassium,K,39.098,20,19,19,4,1.0,solid,...,4.3407,0.862000,336.500,1032.00,10.0,Davy,1807.0,0.757,4,1.0
19,20,Calcium,Ca,40.078,20,20,20,4,2.0,solid,...,6.1132,1.540000,1112.150,1757.00,14.0,Davy,1808.0,0.647,4,2.0
20,21,Scandium,Sc,44.956,24,21,21,4,3.0,solid,...,6.5615,2.990000,1812.150,3109.00,15.0,Nilson,1878.0,0.568,4,NaN
21,22,Titanium,Ti,47.867,26,22,22,4,4.0,solid,...,6.8281,4.540000,1933.150,3560.00,9.0,Gregor,1791.0,0.523,4,NaN
22,23,Vanadium,V,50.942,28,23,23,4,5.0,solid,...,6.7462,6.110000,2175.150,3680.00,9.0,del Rio,1801.0,0.489,4,NaN
23,24,Chromium,Cr,51.996,28,24,24,4,6.0,solid,...,6.7665,7.150000,2130.150,2944.00,9.0,Vauquelin,1797.0,0.449,4,NaN
24,25,Manganese,Mn,54.938,30,25,25,4,7.0,solid,...,7.4340,7.440000,1519.150,2334.00,11.0,"Gahn, Scheele",1774.0,0.479,4,NaN
25,26,Iron,Fe,55.845,30,26,26,4,8.0,solid,...,7.9024,7.870000,1808.150,3134.00,10.0,Prehistoric,NaN,0.449,4,NaN
26,27,Cobalt,Co,58.933,32,27,27,4,9.0,solid,...,7.8810,8.860000,1768.150,3200.00,14.0,Brandt,1735.0,0.421,4,NaN
27,28,Nickel,Ni,58.693,31,28,28,4,10.0,solid,...,7.6398,8.910000,1726.150,3186.00,11.0,Cronstedt,1751.0,0.444,4,NaN
28,29,Copper,Cu,63.546,35,29,29,4,11.0,solid,...,7.7264,8.960000,1357.750,2835.00,11.0,Prehistoric,NaN,0.385,4,NaN
29,30,Zinc,Zn,65.380,35,30,30,4,12.0,solid,...,9.3942,7.130000,692.880,1180.00,15.0,Prehistoric,NaN,0.388,4,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
88,89,Actinium,Ac,227.000,138,89,89,7,3.0,solid,...,5.1700,10.100000,1323.150,3471.00,11.0,Debierne/Giesel,1899.0,0.120,7,NaN
89,90,Thorium,Th,232.038,142,90,90,7,NaN,solid,...,6.3067,11.700000,2028.150,5061.00,12.0,Berzelius,1828.0,0.113,7,NaN
90,91,Protactinium,Pa,231.036,140,91,91,7,NaN,solid,...,5.8900,15.400000,1873.150,4300.00,14.0,Hahn and Meitner,1917.0,NaN,7,NaN
91,92,Uranium,U,238.029,146,92,92,7,NaN,solid,...,6.1941,19.000000,1405.150,4404.00,15.0,Peligot,1841.0,0.116,7,NaN
92,93,Neptunium,Np,237.000,144,93,93,7,NaN,artificial,...,6.2657,20.500000,913.150,4273.00,153.0,McMillan and Abelson,1940.0,NaN,7,NaN
93,94,Plutonium,Pu,244.000,150,94,94,7,NaN,artificial,...,6.0262,19.800000,913.150,3501.00,163.0,Seaborg et al.,1940.0,NaN,7,NaN
94,95,Americium,Am,243.000,148,95,95,7,NaN,artificial,...,5.9738,13.700000,1267.150,2880.00,133.0,Seaborg et al.,1944.0,NaN,7,NaN
95,96,Curium,Cm,247.000,151,96,96,7,NaN,artificial,...,5.9915,13.500000,1340.150,3383.00,133.0,Seaborg et al.,1944.0,NaN,7,NaN
96,97,Berkelium,Bk,247.000,150,97,97,7,NaN,artificial,...,6.1979,14.800000,1259.150,983.00,83.0,Seaborg et al.,1949.0,NaN,7,NaN
97,98,Californium,Cf,251.000,153,98,98,7,NaN,artificial,...,6.2817,15.100000,1925.150,1173.00,123.0,Seaborg et al.,1950.0,NaN,7,NaN
98,99,Einsteinium,Es,252.000,153,99,99,7,NaN,artificial,...,6.4200,13.500000,1133.150,NaN,123.0,Ghiorso et al.,1952.0,NaN,7,NaN
99,100,Fermium,Fm,257.000,157,100,100,7,NaN,artificial,...,6.5000,NaN,NaN,NaN,103.0,Ghiorso et al.,1953.0,NaN,7,NaN
100,101,Mendelevium,Md,258.000,157,101,101,7,NaN,artificial,...,6.5800,NaN,NaN,NaN,33.0,Ghiorso et al.,1955.0,NaN,7,NaN
101,102,Nobelium,No,259.000,157,102,102,7,NaN,artificial,...,6.6500,NaN,NaN,NaN,73.0,Ghiorso et al.,1958.0,NaN,7,NaN
102,103,Lawrencium,Lr,262.000,159,103,103,7,NaN,artificial,...,NaN,NaN,NaN,NaN,203.0,Ghiorso et al.,1961.0,NaN,7,NaN
103,104,Rutherfordium,Rf,261.000,157,104,104,7,4.0,artificial,...,NaN,18.100000,NaN,NaN,NaN,Ghiorso et al.,1969.0,NaN,7,NaN
104,105,Dubnium,Db,262.000,157,105,105,7,5.0,artificial,...,NaN,39.000000,NaN,NaN,NaN,Ghiorso et al.,1970.0,NaN,7,NaN
105,106,Seaborgium,Sg,266.000,160,106,106,7,6.0,artificial,...,NaN,35.000000,NaN,NaN,NaN,Ghiorso et al.,1974.0,NaN,7,NaN
106,107,Bohrium,Bh,264.000,157,107,107,7,7.0,artificial,...,NaN,37.000000,NaN,NaN,NaN,Armbruster and M�nzenberg,1981.0,NaN,7,NaN
107,108,Hassium,Hs,267.000,159,108,108,7,8.0,artificial,...,NaN,41.000000,NaN,NaN,NaN,Armbruster and M�nzenberg,1983.0,NaN,7,NaN
108,109,Meitnerium,Mt,268.000,159,109,109,7,9.0,artificial,...,NaN,35.000000,NaN,NaN,NaN,"GSI, Darmstadt, West Germany",1982.0,NaN,7,NaN
109,110,Darmstadtium,Ds,271.000,161,110,110,7,10.0,artificial,...,NaN,NaN,NaN,NaN,NaN,NaN,1994.0,NaN,7,NaN
110,111,Roentgenium,Rg,272.000,161,111,111,7,11.0,artificial,...,NaN,NaN,NaN,NaN,NaN,NaN,1994.0,NaN,7,NaN
111,112,Copernicium,Cn,285.000,173,112,112,7,12.0,artificial,...,NaN,NaN,NaN,NaN,NaN,NaN,1996.0,NaN,7,NaN
112,113,Nihonium,Nh,284.000,171,113,113,7,13.0,artificial,...,NaN,NaN,NaN,NaN,NaN,NaN,2004.0,NaN,7,3.0
113,114,Flerovium,Fl,289.000,175,114,114,7,14.0,artificial,...,NaN,NaN,NaN,NaN,NaN,NaN,1999.0,NaN,7,4.0
114,115,Moscovium,Mc,288.000,173,115,115,7,15.0,artificial,...,NaN,NaN,NaN,NaN,NaN,NaN,2010.0,NaN,7,5.0
115,116,Livermorium,Lv,292.000,176,116,116,7,16.0,artificial,...,NaN,NaN,NaN,NaN,NaN,NaN,2000.0,NaN,7,6.0
116,117,Tennessine,Ts,295.000,178,117,117,7,17.0,artificial,...,NaN,NaN,NaN,NaN,NaN,NaN,2010.0,NaN,7,7.0
117,118,Oganesson,Og,294.000,176,118,118,7,18.0,artificial,...,NaN,NaN,NaN,NaN,NaN,NaN,2006.0,NaN,7,8.0

In [114]:

def year_for_element(element):
    number = elements.query(f"Element=='{element}'").AtomicNumber
    if len(number) != 1:
        return None
    else:
        return ((int(number)-1)//2)+2008

In [116]:
year_for_element("Manganese")

2020

In [109]:
((25-1)//2)+2008

2020